@import url("https://fonts.googleapis.com/css2?family=Limelight:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Montserrat Subrayada", Helvetica,
    "Limelight", sans-serif;
}

body {
  width: 100%;
}

/*! LOGIN PAGE */

.login-page {
  background: rgb(61, 64, 91);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.login-page h1 {
  font-weight: bolder;
  font-size: 4rem;
  color: white;
  width: 100vw;
  padding: 15px;
  font-family: "Montserrat Subrayada", sans-serif;
  border-bottom: double rgb(224, 122, 95) 10px;
}

.login-page form {
  height: 20rem;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double rgb(244, 241, 222) 10px;
  border-radius: 25px;

  background-color: rgb(224, 122, 95);
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-right: 25px;
  font-weight: bold;
}

.input-field label {
  font-size: 1.2rem;
  color: rgb(54, 57, 81);
}

.input-field input {
  width: 100%;
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px;
  border: solid rgb(61, 64, 91);
  border-radius: 5px;
}

.login-page button {
  color: rgb(54, 57, 81);
  margin: 10px;
  border: solid rgb(61, 64, 91);
  border-radius: 15px;
  width: 8rem;
  align-self: center;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(238, 244, 246);
}

.login-page button:hover {
  box-shadow: 5px 10px rgb(61, 64, 91);
}

.login-hint {
  color: white;
}

/*! HEADER */

.page-header {
  width: 100%;
  margin: 0;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: double rgb(224, 122, 95) 10px;

  color: rgb(244, 241, 222);
  background-color: rgb(61, 64, 91);
}

.header-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

.header-button {
  display: flex;
  align-self: center;
  border: solid rgb(224, 122, 95) 2px;
  border-radius: 10px;
  height: 50%;
  padding: 10px 15px;
}

.header-button:hover {
  box-shadow: 5px 10px rgb(242, 204, 143);
}

/*! ARTICLES */

.articles-container {
  margin: 0px;
  width: 100%;
  background-color: rgb(129, 178, 154);
}

.articles-container h2 {
  margin: 20px;
}

.sorting-options {
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
  background-color: rgb(129, 178, 154);
}

.topics-select {
  margin-top: 10px;
  width: 30%;
  font-size: small;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.articles-container label {
  color: rgb(44, 46, 65);
  font-size: large;
}

.topics-select select {
  background: rgb(244, 241, 222);
  border: solid rgb(224, 122, 95);
  border-radius: 5px;
  padding: 5px;
}

.sort-by-select {
  margin-top: 10px;
  width: 30%;
  font-size: small;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.sort-by-select select {
  background: rgb(244, 241, 222);
  border: solid rgb(224, 122, 95);
  border-radius: 5px;
  padding: 5px;
}

.order-select {
  margin-top: 10px;
  width: 30%;
  font-size: small;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.order-select select {
  background: rgb(244, 241, 222);
  border: solid rgb(224, 122, 95);
  border-radius: 5px;
  padding: 5px;
}

/*! ARTICLE CARD */

.articles-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.articles-list ul {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  width: 100%;
}

.article-card {
  display: flex;
  align-self: flex-end;
  background: rgb(244, 241, 222);
  border: solid rgb(61, 64, 91) 2px;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 20px;
}

.article-card:hover {
  box-shadow: rgb(61, 64, 91) 0px 2px, rgb(224, 122, 95) 0px 4px,
    rgb(242, 204, 143) 0px 6px, rgb(244, 241, 222) 0px 8px;
}

.article-card-img {
  border-radius: 50%;
  margin-right: 20px;
  width: 100px;
  align-self: center;
}

.article-card-img img {
  border-radius: 10px;
}

.article-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.article-card-topic-author {
  display: flex;
  justify-content: space-around;
}

#topic {
  color: rgb(50, 52, 74);
  font-style: italic;
}

.article-card h3 {
  font-size: large;
  font-weight: bold;
  margin: 10px 0;
}

.article-date {
  align-self: flex-end;
}

.button-container {
  justify-items: center;
}

.articles-button {
  width: 30%;
  margin: 15px;
  border-radius: 15px;
  height: 50%;
  padding: 10px 15px;
  background: rgb(244, 241, 222);
  border: solid rgb(242, 204, 143);
}

.articles-button:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

/*! SINGLE ARTICLE */

.single-article-container {
  background: rgb(244, 241, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: flex-start;
  padding: 15px;
  flex-grow: 1;
  background: rgb(244, 241, 222);
}

.article-topic {
  align-self: center;
  color: rgb(50, 52, 74);
  font-style: italic;
}

.article-title {
  align-self: center;
  font-weight: bold;
  font-size: x-large;
  color: rgb(50, 52, 74);
  margin: 5px;
}

.article-author-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.article-body {
  margin: 20px;
  margin-top: 25px;
  text-align: justify;
}

.article-image {
  width: 100%;
  display: grid;
}

.article-image img {
  margin-top: 15px;
  width: 80%;
  justify-self: center;
  border-radius: 20px;
}

.article-votes {
  display: flex;
  width: 100%;
  margin: 15px 0;
  justify-content: space-evenly;
  justify-self: center;
}

.article-votes button {
  color: white;
  font-size: x-large;
  background: rgb(129, 178, 154);
  border: solid rgb(61, 64, 91) 2px;
  width: 50px;
  border-radius: 10px;
}

.article-votes button:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

/*! CUSTOM MESSAGES */

.error-container {
  height: 100vh;
  background: rgb(244, 241, 222);
}

.delete-text {
  color: rgb(61, 64, 91);
}

.comment-loading-text {
  color: rgb(61, 64, 91);
}

.vote-text {
  color: rgb(61, 64, 91);
  margin-top: 10px;
}

/*! COMMENT CARD */

.comments-section {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.comment-count {
  align-self: flex-start;
  margin: 0 20px;
  font-style: italic;
}

.comment-card-container {
  border: solid rgb(129, 178, 154) 2px;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  background: rgb(230, 227, 212);
}

#comment-author,
#comment-date {
  color: rgb(61, 64, 91);
}

.comment-card-middle-section {
  display: flex;
  justify-content: space-between;
}

.comment-card-body {
  padding: 10px;
  text-align: start;
  margin-right: 15px;
}

.comment-card-delete {
  padding: 10px;
  line-height: 0.5;
  height: 30px;
  color: white;
  font-size: medium;
  background: rgb(129, 178, 154);
  border: solid rgb(61, 64, 91) 2px;
  width: 50px;
  border-radius: 10px;
}

.comment-card-delete i {
  line-height: 0.5;
}

.comment-card-delete:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

.comment-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}

.expandable-button {
  line-height: 1;
  height: 50px;
  color: white;
  font-size: medium;
  background: rgb(129, 178, 154);
  border: solid rgb(61, 64, 91) 2px;
  width: 30%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.expandable-button:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

.comment-votes {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.comment-votes button {
  color: white;
  font-size: medium;
  background: rgb(129, 178, 154);
  border: solid rgb(61, 64, 91) 2px;
  width: 30px;
  border-radius: 5px;
}

.comment-votes button:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

/*! COMMENT POST FORM */

.form-container {
  width: 95%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border: double rgb(129, 178, 154) 5px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
}

.form-container label {
  font-weight: bold;
}

.form-container textarea {
  width: 100%;
  height: 60px;
  margin: 15px 0;
  border: solid rgb(105, 145, 125) 2px;
  border-radius: 5px;
  padding: 10px;
}

.form-container button {
  margin: 15px;
  width: 80px;
  line-height: 0.5;
  padding: 10px;
  align-self: center;
  color: white;
  font-size: medium;
  background: rgb(129, 178, 154);
  border: solid rgb(61, 64, 91) 2px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.form-container button:hover {
  box-shadow: 5px 10px rgb(224, 122, 95);
}

.error-text {
  color: red;
  font-weight: bold;
}

/*! ERROR PAGE */

.error-page-section {
  background: rgb(244, 241, 222);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error-page-section h2 {
  padding: 20px;
  font-size: 1.5em;
  color: rgb(61, 64, 91);
}

.not-found-animation {
  margin: 30px;
}
