* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    height: 100%;

    font-family: comfortaa;
  }

  /*! LOGIN PAGE */

  .login-page {
    background-color: rgb(238, 244, 246);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
  }

  .login-page h1 {
    font-weight: bolder;
    font-size: xx-large;
    width: 80vw;
    padding: 15px;

    border-bottom: solid blue;
  }

  .login-page form {
    height: 200px;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: solid blue;
    border-width: 3px;
    border-radius: 25px;

    background-color: rgb(218, 238, 245);
  }

  .input-field {
    margin: 15px;

    font-weight: bold;
  }

  .input-field input {
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
  }

  .login-page button {
    margin: 10px;
    border: solid blue;
    border-radius: 20px;
    width: 20%;
    align-self: center;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(238, 244, 246);
  }

  .login-page button:hover {
    box-shadow: 5px 10px rgb(142, 142, 218);
  }

  /*! HEADER */

  .page-header {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: solid blue;
    border-bottom-width: 5px;
    height: 15%;

    padding: 20px;

    background-color: rgb(218, 238, 245);
  }

  .header-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content h1 {
    font-size: xx-large;
    font-weight: bolder;
  }

  .header-button {
    align-self: center;
    border: solid blue;
    border-radius: 5px;
    height: 50%;
    padding: 10px 15px;
    min-width: 100px;
    width: 20%;
    line-height: 1;
  }

  .header-button:hover {
    box-shadow: 5px 10px rgb(142, 142, 218);
  }

  /*! ARTICLES */

  .articles-container {
    margin: 20px;
  }

  .articles-container h2 {
    margin: 20px;
  }

  /*! ARTICLE CARD */

  .articles-container {
    justify-items: flex-end;
  }

  .article-card {
    width: 100%;

    display: flex;

    border: solid blue;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }

  .article-card:hover {
    box-shadow: 5px 10px rgb(142, 142, 218);
  }

  .article-card-img {
    margin-right: 20px;
    width: 100px;
    align-self: center;
  }

  .article-card-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }

  .article-card-topic-author {
    display: flex;
    justify-content: space-around;
  }

  .article-card h3 {
    font-size: large;
    font-weight: bold;
  }

  .button-container {
    justify-items: flex-start;
  }

  .articles-button {
    min-width: 100px;
    align-self: center;
    border: solid blue;
    border-radius: 5px;
    height: 50%;
    padding: 10px 15px;
    width: 20%;
    line-height: 2;
    margin: 15px;
  }

  .articles-button:hover {
    box-shadow: 5px 10px rgb(142, 142, 218);
  }

  /*! SINGLE ARTICLE */

  .article-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: flex-start;
    margin: 10px;
    padding: 15px;
    border-bottom: solid blueviolet;
    flex-grow: 1;
  }

  .article-topic {
    align-self: center;
  }

  .article-title {
    align-self: center;
    font-weight: bold;
    font-size: large;
    margin: 5px;
  }

  .article-author-date {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .article-body {
    margin: 20px;
    margin-top: 25px;
    text-align: justify;
  }

  .article-image {
    width: 90%;
    margin: 20px;
    align-self: center;
  }

  .article-votes {
    display: flex;
    width: 100%;
    margin: 15px 0;
    justify-content: space-evenly;
    justify-self: center;
  }

  .article-votes button {
    border: solid blue;
    width: 50px;
    border-radius: 2px;
  }

  .article-votes button:hover {
    box-shadow: 5px 10px rgb(142, 142, 218);
  }
}

/*! COMMENT CARD */

.comment-card-container {
  border: solid black;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

.comment-card-body {
  padding: 10px;
  text-align: start;
}

.comment-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}

.expandable-button {
  align-self: center;
  border: solid blue;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  padding: 10px 15px;
  line-height: 1;
  margin: 15px;
}

.expandable-button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

.comment-votes {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.comment-votes button {
  border: solid blue;
  width: 30px;
  border-radius: 2px;
}

.comment-votes button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

/*! ---------------------------------------------------------------------------------------------------------------- */

/*? LARGER SCREENS */

body {
  width: 100%;
  height: 100%;

  font-family: comfortaa;
}

/*! LOGIN PAGE */

.login-page {
  background-color: rgb(238, 244, 246);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
}

.login-page h1 {
  font-weight: bolder;
  font-size: xx-large;
  width: 80vw;
  padding: 15px;

  border-bottom: solid blue;
}

.login-page form {
  height: 200px;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: solid blue;
  border-width: 3px;
  border-radius: 25px;

  background-color: rgb(218, 238, 245);
}

.input-field {
  margin: 15px;

  font-weight: bold;
}

.input-field input {
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.login-page button {
  margin: 10px;
  border: solid blue;
  border-radius: 20px;
  width: 20%;
  align-self: center;
  font-weight: bold;
  padding: 5px;

  background-color: rgb(238, 244, 246);
}

.login-page button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

/*! HEADER */

.page-header {
  display: flex;
  justify-content: space-around;
  border-bottom: solid blue;
  border-bottom-width: 5px;
  height: 15%;

  padding: 20px;

  background-color: rgb(218, 238, 245);
}

.header-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content h1 {
  font-size: xx-large;
  font-weight: bolder;
}

.header-button {
  align-self: center;
  border: solid blue;
  border-radius: 5px;
  height: 50%;
  padding: 10px 15px;
  width: 20%;
  line-height: 1;
}

.header-button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

/*! ARTICLES */

.articles-container {
  margin: 20px;
}

.articles-container h2 {
  margin: 20px;
}

/*! ARTICLE CARD */

.articles-container {
  justify-items: flex-end;
}

.article-card {
  width: 100%;

  display: flex;

  border: solid blue;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.article-card:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

.article-card-img {
  margin-right: 20px;
  width: 100px;
  align-self: center;
}

.article-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.article-card-topic-author {
  display: flex;
  justify-content: space-around;
}

.article-card h3 {
  font-size: large;
  font-weight: bold;
}

.button-container {
  justify-items: flex-start;
}

.articles-button {
  min-width: 100px;
  align-self: center;
  border: solid blue;
  border-radius: 5px;
  height: 50%;
  padding: 10px 15px;
  width: 20%;
  line-height: 2;
  margin: 15px;
}

.articles-button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

/*! SINGLE ARTICLE */

.article-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: flex-start;
  margin: 10px;
  padding: 15px;
  border-bottom: solid blueviolet;
  flex-grow: 1;
}

.article-topic {
  align-self: center;
}

.article-title {
  align-self: center;
  font-weight: bold;
  font-size: large;
  margin: 5px;
}

.article-author-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.article-body {
  margin: 20px;
  margin-top: 25px;
  text-align: justify;
}

.article-image {
  width: 90%;
  margin: 20px;
  align-self: center;
}

.article-votes {
  display: flex;
  width: 100%;
  margin: 15px 0;
  justify-content: space-evenly;
  justify-self: center;
}

.article-votes button {
  border: solid blue;
  width: 50px;
  border-radius: 2px;
}

.article-votes button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

/*! COMMENT CARD */

.comment-card-container {
  border: solid black;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

.comment-card-body {
  padding: 10px;
  text-align: start;
}

.comment-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}

.expandable-button {
  align-self: center;
  border: solid blue;
  border-radius: 5px;
  height: 50px;
  width: 160px;
  padding: 10px 15px;
  line-height: 1;
  margin: 15px;
}

.expandable-button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}

.comment-votes {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.comment-votes button {
  border: solid blue;
  width: 30px;
  border-radius: 2px;
}

.comment-votes button:hover {
  box-shadow: 5px 10px rgb(142, 142, 218);
}
